<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HMM: 습관인증 서비스</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
    <div>
    </div>

    <div class="container overflow-hidden col-md-5 shadow-lg mb-5 bg-body rounded">
      <div class="row">
        <div class="card w-25 p-3 border rounded-3 btn btn-primary" data-bs-toggle="collapse" data-bs-target="#workout_detail">
          <div class="card-body">
            <!-- <h5 class="card-title text-black font-monospace">다이어트</h5> -->
            <p class="card-text text-black">다이어트</p>
            <!-- <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container col-md-5 accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item" id="diet">
        <h2 class="accordion-header invisible" id="flush-headingThree">
          
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#workout_detail" aria-expanded="false" aria-controls="flush-collapseThree">
            Accordion Item #3
          </button>
        </h2>
        <div id="workout_detail" class="accordion-collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <span class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Plank</span>
            <span class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Push-up</span>
            <span class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Crunch</span>
            <span class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Leg Raise</span>
            <span class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Pull-up</span>
          </div>
        </div>
      </div>
    </div>
<!-- 
    <div class="card w-25 p-3">
      <img src="../static/images/diet_640x640.jpg" class="card-img-top" alt="diet">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card w-25 p-3">
      <img src="../static/images/pet_640x640.jpg" class="card-img-top" alt="diet">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="container overflow-hidden">
              <div class="row p-1">
                <video id="gum-local" class="col align-self-center" autoplay playsinline></video>
              </div>
            </div>
            <div id="btn-container" class="row p-1">
              <div class="col">
                <button id="showVideo" class="col-12 btn btn-primary">Open camera</button>
              </div>
              <div class="col">
                <button id="stopCamera" class="col-12 btn btn-primary" disabled>Stop camera</button>
              </div>
              <div class="col">
                <button id="captureBtn" class="col-12 btn btn-primary" disabled>Capture</button>
              </div>
            </div>  
            <div id="errorMsg" class="row"></div>
            <div class="row">
              <canvas></canvas>
            </div>        
          </div>
          <div class="modal-footer">
            <button type="button" id="ModalCloseBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script type="text/javascript" src="../static/src/main.js"></script>
    <script type="text/javascript" src="../static/src/ga.js"></script>
    <script type="text/javascript" src="../static/src/challenge.js"></script>
  </body>
</html>
